root = true
[*.cs]
indent_style=tab
indent_size=4
max_line_length=100
charset = utf-8
end_of_line = crlf
insert_final_newline = false
trim_trailing_whitespace = true

# Most frequently used .NET-coding-convention properties are supported
csharp_style_var_for_built_in_types=true

# dotnet_diagnostic rules are supported
dotnet_diagnostic.CS1058.severity = hint

# JetBrains Fleet custom properties for code formatting styles
csharp_brace_style=next_line

# JetBrains Fleet custom properties for code syntax styles
csharp_default_private_modifier=explicit
csharp_braces_for_ifelse=required

# This section defines the naming rule properties and severity
dotnet_naming_rule.instance_fields_should_be_camel_case.severity = suggestion
dotnet_naming_rule.instance_fields_should_be_camel_case.symbols = instance_fields
dotnet_naming_rule.instance_fields_should_be_camel_case.style = instance_field_style

# This is the symbol group
dotnet_naming_symbols.instance_fields.applicable_kinds = field

# This is the naming style
dotnet_naming_style.instance_field_style.capitalization = camel_case
dotnet_naming_style.instance_field_style.required_prefix = _